.players {
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -20;
  --direction: top;
  --start: 0%;
  --end: 70%;
}

.player {
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
  flex-direction: column;
  justify-self: stretch;
  justify-content: flex-start;
  align-items: center;
  font-size: 64px;
  font-family: "Aldrich", sans-serif;
  text-transform: uppercase;
  box-sizing: border-box;
  border-top: 20px solid black;
  padding-top: 20px;
  color: #5a5a5a;
}

.player-blue {
    color: var(--blue);
}

.player-white {
    color: var(--white);
}

.player-blue.is-active {
  background-image: linear-gradient(
    to top,
    var(--blue) var(--start),
    black var(--end)
  );
  border-top-color: var(--blue);
}

.player-white.is-active {
  background-image: linear-gradient(
    to top,
    var(--white) var(--start),
    black var(--end)
  );
  border-top-color: var(--white);
}

.player-name {
}

.player-points {
  font-size: 48px;
  color: var(--neutral);
}
