@import url("https://fonts.googleapis.com/css?family=Aldrich");

:root {
    --neutral: #f5b745;
    --neutral-light: #f5d475;
    --blue: #2392e7;
    --white: #fff;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
