@import url("https://fonts.googleapis.com/css?family=Aldrich");

:root {
  --neutral: #f5b745;
  --neutral-light: #f5d475;
  --blue: #2392e7;
  --white: #fff;
  --radius: 6px;
}

.intro {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-height:100vh;
    width: auto;
    height: auto;
    z-index: -10;
}

.splash-screen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 240px;
}

.blockbusters {
    text-align: center;
    color: var(--neutral);
    text-shadow: 0 0 8px var(--neutral-light);
    font-family: "Aldrich", sans-serif;
    font-size: 92px;
    text-transform: uppercase;
}
